@{
    ViewData["Title"] = "Історія аналізів";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>@ViewData["Description"]</p>

    <p class="mt-4">Ця сторінка служить третьою "підпрограмою", як вимагається у лабораторній роботі.</p>
</div>

